{% extends "base.html" %}

{% load i18n staticfiles %}


{% block style %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
  <div>
    <div id="link-area">
      <div style="margin-top: 250px;">
        {% if domain_documentation %}
          <a href="{{ domain_documentation }}">
            <button class="info-button">{% trans "Documentation" %}</button>
          </a>
        {% endif %}
        {% if domain_admin_panel %}
          <a href="{{ domain_admin_panel }}">
            <button class="info-button">{% trans "Admin Panel" %}</button>
          </a>
        {% endif %}
      </div>
    </div>

    <div class="footer" id="footer">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top" align="center">
            <span>
              {% blocktrans trimmed %}Helping Hand is a Crownest product.{% endblocktrans %}
            </span>
            <br> <span>2018 ©</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}
